@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using PanaderiaMj.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirmación de registro</PageTitle>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <img src="/Images/confirmarRegistro.png" alt="Confirm Email" class="img-fluid" style="max-width: 200px;">
                    <h1>Confirmación de registro</h1>

                    <StatusMessage Message="@statusMessage" />

                    @if (emailConfirmationLink is not null)
                    {
                        <p>
                            Esta aplicación actualmente no tiene un remitente de correo electrónico real registrado. Consulte <a href="https://aka.ms/aspaccountconf">estos documentos</a> para obtener información sobre cómo configurar un remitente de correo electrónico real.
                            Normalmente, esto se enviaría por correo electrónico: <a href="@emailConfirmationLink">Haga clic aquí para confirmar su cuenta</a>
                        </p>
                    }
                    else
                    {
                        <p>Por favor, revise su correo electrónico para confirmar su cuenta.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string? emailConfirmationLink;
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
        else if (EmailSender is IdentityNoOpEmailSender)
        {
            // Once you add a real email sender, you should remove this code that lets you confirm the account
            var userId = await UserManager.GetUserIdAsync(user);
            var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
            code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
            emailConfirmationLink = NavigationManager.GetUriWithQueryParameters(
                NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
                new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });
        }
    }
}
