@page "/ViewEmpleados/{EmpleadoId:int}"
@inject EmpleadosService empleadosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<RadzenNotification />
<PageTitle>Detalles del Empleado</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <!-- Header -->
        <div class="card-header">
            <h3><strong>Detalles del Empleado</strong></h3>
        </div>
        <!-- Cuerpo -->
        <div class="card-body">
            @if (empleado != null)
            {
                <div class="row">
                    <div class="col-8">
                        <div class="col-md-11">
                            <h3 class="text-center"><strong>Datos del Empleado</strong></h3>
                            <div class="border-primmary border border-2 borde">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Columna para los datos del empleado -->
                                        <div class="col-9">
                                            <ul class="list-unstyled" style="margin-top: 20px; margin-bottom: 20px;">
                                                <li><strong>Empleado ID: @empleado.EmpleadoId</strong></li>
                                                <li><strong>Nombre: @empleado.Nombre</strong></li>
                                                <li><strong>Teléfono: @empleado.Telefono</strong></li>
                                                <li><strong>Dirección: @empleado.Direccion</strong></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Columna para el detalle del empleado -->
                </div>
            }
            else
            {
                <p>No se encontraron detalles para este empleado.</p>
            }
        </div>
        <!-- Footer -->
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int EmpleadoId { get; set; }

    private Empleados empleado;

    protected override async Task OnInitializedAsync()
    {
        empleado = await empleadosService.Buscar(EmpleadoId) ?? new Empleados();
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/IndexEmpleados");
    }
}
