@page "/"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

@* @attribute [Authorize] *@
@inject NavigationManager NavigationManager
<PageTitle>Menú Principal</PageTitle>

<div class="main-menu">
    <div class="header">
        <img src="Images/Logo.png" class="logo" />
        <h1<strong>Men&uacute; Principal</strong></h1>
    </div>
    <div class="menu-options">
        <button class="menu-button" @onclick="NavigateToVentas">
            <img src="Images/ventas.png" class="icon" /><strong>Ventas</strong>
        </button>
        <button class="menu-button" @onclick="NavigateToProductos">
            <img src="Images/productos.png" class="icon" /><strong>Productos</strong>

        </button>
        <button class="menu-button" @onclick="NavigateToEmpleados">
            <img src="Images/empleado.png" class="icon" /><strong>Empleados</strong>
        </button>
        <button class="menu-button" @onclick="NavigateToPedidos">
            <img src="Images/clientes.png" class="icon" /><strong>Clientes</strong>
        </button>
        <button class="menu-button" @onclick="NavigateToInventario">
            <img src="Images/proveedor.png" class="icon" /><strong>Proveedores</strong>
        </button>
       
        <button class="menu-button" @onclick="NavigateToCompras">
            <img src="Images/compras.png" class="icon" /><strong>Compras</strong>
        </button>
        <button class="menu-button" @onclick="NavigateToInsumos">
            <img src="Images/MenuInsumo.png" class="icon" /><strong>Insumos</strong>
        </button>
        <button class="menu-button" @onclick="NavigateToRecepciones">
            <img src="Images/recepciones.png" class="icon" /><strong>Recepciones</strong>
        </button>
    </div>
</div>

@code {
     private void NavigateToVentas() => NavigationManager.NavigateTo("/MenuVentas");
    private void NavigateToProductos() => NavigationManager.NavigateTo("/MenuProductos");
    private void NavigateToEmpleados() => NavigationManager.NavigateTo("/MenusEmpleados");
    private void NavigateToPedidos() => NavigationManager.NavigateTo("/MenuClientes");
    private void NavigateToInventario() => NavigationManager.NavigateTo("/MenuProveedores");
    private void NavigateToRecepciones() => NavigationManager.NavigateTo("/MenuRecepciones");
    private void NavigateToCompras() => NavigationManager.NavigateTo("/MenuCompras");
    private void NavigateToInsumos() => NavigationManager.NavigateTo("/MenuInsumos");


}

<style>
    .main-menu {
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #F7F7F7; /* Fondo claro para todo el menú */
    }

    .header {
        background-color: #5D5C61; /* Color oscuro para contraste */
        color: #FFFFFF; /* Texto blanco para legibilidad */
        text-align: center;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid #379683; /* Borde como acento */
    }

    .logo {
        max-width: 100px;
        margin-right: 1rem;
    }

    .menu-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem;
    }

    .menu-button {
        background-color: #379683; /* Color principal para botones */
        color: #FFFFFF; /* Texto blanco para legibilidad */
        border: none;
        padding: 20px 40px;
        margin: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

        .menu-button:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

    .icon {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
</style>
